<%= stylesheet_link_tag 'replies_form', :media => 'screen' %>
<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
<h3><%= f.label :Post %><br /></h3>
      <%= f.hidden_field :post_id, :value=> @reply.post_id%>
     <strong> Title:</strong> <%= f.label Post.find(@reply.post_id).title%><br />
      <strong>Message:</strong> <%= f.label Post.find(@reply.post_id).message%><br />
  </div>
  <div class="field">
    <%= f.label :reply %><br />
    <%= f.text_area :reply %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
