 <%= javascript_include_tag :all %>
 <%=@notice %>
<h2>Listing replies</h2>

<table>
  <tr>
    <th>Reply</th>
    <th>Post title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.reply %></td>
    <td><%= Post.find(reply.post_id).title%></td>
    <td><%= link_to "Vote(#{@votes[reply.id]})", :method => :post, :controller => :replies, :action => :update_votes, :reply_id => reply.id %></td>
    <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
    <td><%= link_to 'Destroy', :id=>reply.id, :action=>:destroy, :controller => :replies %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Posts', :controller => :posts, :action=> :index%>
