<p id="notice"></p>

<p>
  <b>Reply:</b>
  <%= @reply.reply %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@reply.user_id).username %>
</p>

<p>
  <b>Post:</b>
  <%= Post.find(@reply.post_id).title %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
