<div align="center">
<h2>Activity Report</h2>

<table>
  <tr>
    <th colspan="10" style="background-color:#b0e0e6;">User</th>
    <th colspan="10" style="background-color:#b0e0e6;">Title of the Post</th>
    <th colspan="3" style="background-color:#b0e0e6;">Votes</th>
  </tr>
  <% @users.each do |user| %>
  <% @posts = Post.find_all_by_user_id(user.id) %>
  <% @posts.each do |post| %>
  <tr>
    <td colspan="10"><%= user.username %></td>
    <td colspan="10"><%= post.title %></td>
    <td colspan="3"><%= "#{@votes[post.id]} votes" %></td>
  </tr>
   <tr>
    <td colspan="10" style="background-color:#b0e0e6;">
      <td colspan="10" style="background-color:#b0e0e6;">
      <td colspan="3" style="background-color:#b0e0e6;">

   </tr>
   <% end %>
      <% end %>
</table>

<p>
  <%= link_to "Back" , :back%>
    <%= link_to "Logout", :log_out%>
</p>
    </div>