<h2 align="center">Listing users</h2>
<div align="center">
<table>
  <tr>
    <th colspan="10" style="background-color:#b0e0e6;">Username</th>
    <th colspan="15" style="background-color:#b0e0e6;">Email</th>
    <th colspan="5" style="background-color:#b0e0e6;">Show</th>
    <th colspan="5" style="background-color:#b0e0e6;">Edit</th>
    <th colspan="5" style="background-color:#b0e0e6;">Destroy</th>
    <th colspan="5" style="background-color:#b0e0e6;">Grant Admin</th>
    <th colspan="5" style="background-color:#b0e0e6;">Revoke Admin</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td colspan="10"><%= user.username %></td>
    <td colspan="15"><%= user.e_mail %></td>
    <td colspan="5"><%= link_to 'Show', user %></td>
    <td colspan="5"><%= link_to_if @isDeletable, 'Edit', edit_user_path(user) %></td>
    <td colspan="5"><%=  link_to_if @isAdmin, 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <td colspan="5"><%= link_to_if @isAdmin, 'Grant Admin', :action => :grant_admin, :id=> user.id %></td>
    <td colspan="5"><%= link_to_if @isAdmin, 'Revoke Admin', :action => :revoke_admin, :id=> user.id%></td>
  </tr>
      <tr>
    <td colspan="10" style="background-color:#b0e0e6;"></td>
    <td colspan="15" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
      </tr>
<% end %>
</table>
</div>

<br />
<p align="center">
<%= link_to_if @isAdmin, 'New User', new_admin_path %>

<%= link_to 'Back', :back %>
</p>
