<h2 align ="center">Listing users</h2>

   <table bgcolor="#FFF8DC" style="position: absolute; top:100px; right:10px; background-color: #FFF8DC">
      <td align="right">
<p align="right">
  <%= link_to 'Back', :back  %>
  <%= link_to_if @isAdmin, 'New User', new_admin_path %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to_if @curr_user, "Logout", :log_out%>
  <%= form_tag({:controller=>:posts ,:action =>:search}, :method => "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= select_tag(:user_opt, options_for_select( [['posts', 1], ['users', 2]])) %>
      <%= submit_tag("Search") %>
  <% end %>
</p>
          </td>
   </table>

<table align="center">
  <tr>
    <th colspan="10" style="background-color:#b0e0e6;">Username</th>
    <th colspan="15" style="background-color:#b0e0e6;">Email</th>
    <th colspan="5" style="background-color:#b0e0e6;">Show</th>
    <th colspan="5" style="background-color:#b0e0e6;">Edit</th>
    <th colspan="5" style="background-color:#b0e0e6;">Destroy</th>
    <th colspan="5" style="background-color:#b0e0e6;">Grant Admin</th>
    <th colspan="5" style="background-color:#b0e0e6;">Revoke Admin</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td colspan="10"><%= user.username %></td>
    <td colspan="15"><%= user.e_mail %></td>
    <td colspan="5"><%= link_to 'Show', user %></td>
    <td colspan="5"><%= link_to_if @isDeletable[user.id], 'Edit', edit_user_path(user) %></td>
    <td colspan="5"><%= link_to_if @isDeletable[user.id], 'Destroy', :id=>user.id, :action=>:destroy, :controller => :users %></td>
    <td colspan="5"><%= link_to_if @isAdmin, 'Grant Admin', :action => :grant_admin, :id=> user.id %></td>
    <td colspan="5"><%= link_to_if @isAdmin, 'Revoke Admin', :action => :revoke_admin, :id=> user.id%></td>
  </tr>
      <tr>
    <td colspan="10" style="background-color:#b0e0e6;"></td>
    <td colspan="15" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
    <td colspan="5" style="background-color:#b0e0e6;"></td>
      </tr>
<% end %>
</table>
</div>

<br />

