<table>

<tr valign="top">
  <td style="background-color:#FFF8DC;width:800px;text-align:top;">
<h2 align="center">New User? Register</h2>

<%= render 'form' %>
<div style="float:left;">
  <%= button_to "Login", new_session_path, :method => :get %>
</div>

<td style="background-color:#FFF8DC;height:600px;width:800px;text-align:top;">
  <div>


        <div align=center>
          <h2 align="center">Search</h2>
          <%= form_tag({:controller=>:posts ,:action =>:search}, :method => "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= select_tag(:user_opt, options_for_select( [['posts', 1], ['users', 2]])) %>
              <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
</table>

