<p id="notice">
  <!--<%= notice %>-->
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>E-mail:</b>
  <%= @user.e_mail %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'login', new_session_path %> |
<%= link_to_if @isAdmin, 'Admin Control', :controller => :admin, :action => :index  %>


