<%= stylesheet_link_tag 'posts', :media => 'screen' %>
<%= @notice %>
<h2 align ="center">Listing posts</h2>
 <div align="center">

<table>
  <tr>
    <th colspan="5" style="background-color:#b0e0e6;">Title</th>
    <th colspan="10" style="background-color:#b0e0e6;">Message</th>
    <th colspan="2" style="background-color:#b0e0e6;">User</th>
    <th colspan="2" style="background-color:#b0e0e6;">Vote</th>
    <th colspan="2" style="background-color:#b0e0e6;">Reply</th>
    <th colspan="2" style="background-color:#b0e0e6;">Edit</th>
    <th colspan="2" style="background-color:#b0e0e6;">Delete</th>
  </tr>


      </td>
</tr>

<% @posts.each do |post| %>
  <tr>
    <td colspan ="5">
      <%= post.title %>
    </td>
    <td colspan="10">
      <%= post.message %>
    </td>
    <td colspan="2">
      <%= User.find(post.user_id).username%>
    </td>

    <td colspan="2">
    <%=link_to "Vote(#{@votes[post.id]})", :method => :post, :controller => :posts, :action => :update_votes, :post_id => post.id %>
    </td>
   <td colspan="2">
   <%= link_to 'Reply', new_reply_path(:post_id=>post.id)%>
   </td>
    <td colspan="2">
      <%= link_to_if @isDeletable[post.id], 'Edit', edit_post_path(post) %>
    </td>
   <td colspan="2">
   <%= link_to_if @isDeletable[post.id], 'Destroy', :id=>post.id,:action=>:destroy, :controller => :posts %></td>
  </tr>
   <td colspan="5" style="background-color:#b0e0e6;">
   </td>
    <td  colspan="10" style="background-color:#b0e0e6;">
   </td>
   <td  colspan="2" style="background-color:#b0e0e6;">
   </td>
    <td colspan="2" style="background-color:#b0e0e6;">
   </td>
    <td  colspan="2" style="background-color:#b0e0e6;">
   </td>
      <td  colspan="2" style="background-color:#b0e0e6;">
   </td>
      <td  colspan="2" style="background-color:#b0e0e6;">
   </td>

<% end %>
</table>

</div>