<%= stylesheet_link_tag 'posts', :media => 'screen' %>
<h2 align="center">Search results for : <i><%= @key%></i> </h2>

   <table bgcolor="#FFF8DC" style="position: absolute; top:100px; right:10px; background-color: #FFF8DC">
      <td align="right">
<p align="right">
  <%= link_to_if @isAdmin, 'Admin Control', :controller => :admin, :action => :index  %>
  <%= link_to 'Back', :back  %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to_if @curr_user, "Logout", :log_out%>
  <%= form_tag({:controller=>:posts ,:action =>:search}, :method => "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= select_tag(:user_opt, options_for_select( [['posts', 1], ['users', 2]])) %>
      <%= submit_tag("Search") %>
  <% end %>
</p>
          </td>
   </table>

<table>
  <tr>
    <th colspan="1">Title</th>
    <th colspan="1">Message</th>
    <th colspan="1">User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


      </td>
</tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.message %></td>
    <td><%= User.find(post.user_id).username%></td>
    <td><%= link_to "Vote(#{@votes[post.id]})", :method => :post, :controller => :posts, :action => :update_votes, :post_id => post.id %></td>
    <td><%= link_to 'Reply', new_reply_path(:post_id=>post.id)%></td>
    <td><%= link_to_if @isDeletable[post.id], 'Edit', edit_post_path(post) %></td>
    <td><%= link_to_if @isDeletable[post.id], 'Destroy', :id=>post.id,:action=>:destroy, :controller => :posts %></td>

      </tr>
   <td colspan="2" style="background-color:#98F5FF;">
     </td>
<% end %>
</table>


<%= @msg%>
<%= link_to 'New Search', :back %>
