<%= stylesheet_link_tag 'posts', :media => 'screen' %>
<h2 align="center">Search results for : <i><%= @key%></i> </h2>

<table>
  <tr>
    <th colspan="1">Title</th>
    <th colspan="1">Message</th>
    <th colspan="1">User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


      </td>
</tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.message %></td>
    <td><%= User.find(post.user_id).username%></td>
    <td><%= link_to "Vote(#{@votes[post.id]})", :method => :post, :controller => :posts, :action => :update_votes, :post_id => post.id %></td>
    <td><%= link_to 'Reply', new_reply_path(:post_id=>post.id)%></td>
    <td><%= link_to_if @isDeletable[post.id], 'Edit', edit_post_path(post) %></td>
    <td><%= link_to_if @isDeletable[post.id], 'Destroy', :id=>post.id,:action=>:destroy, :controller => :posts %></td>

      </tr>
   <td colspan="2" style="background-color:#98F5FF;">
     </td>
<% end %>
</table>


<%= @msg%>
<%= link_to 'New Search', :back %>
