<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Message:</b>
  <%= @post.message %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@post.user_id).username %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Posts', posts_path %>
<%= link_to 'Reply',  new_reply_path(:post_id=>@post.id, :post_title=>@post.title, :post_message=>@post.message)%>
